@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #f6f6f6;
}

@font-face {
  font-family: mumboSSK;
  src: url('./assets/MUMBSB__.TTF');
}